@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 20px;
  padding: 20px;
}

.wrapper-container {
  margin-top: 20px;
}

 /* <div className="wrapper">
<div className="wrapper-container">
    {Object.values(thread).map(x => (

        <div className="wrapper-row">

            <div className="current-thread-title">
                <h1>{x.title}</h1>
            </div>

            <div className="user-thread-icon center">
                <FontAwesomeIcon style={{ color: 'grey' }} icon={faUser}></FontAwesomeIcon>
            </div>

            <div className="thread-description">
                {x.comment}
            </div>
            <Link to={`/forum/${id}/edit`} className='thread-edit-button'><FontAwesomeIcon icon={faPenSquare} /></Link>


            <div className="user-comment-icon">
                <FontAwesomeIcon style={{ color: 'grey' }} icon={faUser}></FontAwesomeIcon>
            </div>

            <div className="user-comment-text">
                User comment here
            </div>

        </div>

    ))}
</div>
</div>  */
