@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  display: grid;
  margin: 10px auto 0 auto;
  max-width: 70%;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: 
  ". title . ."
  "user-img desc desc ."
  "edit desc desc .";
  width: 100%;
  height: 200px;
  grid-template-columns: 0.75fr 3.25fr 5fr;
  grid-template-rows: 2fr 4fr 2fr;
  padding: 12px;
  max-width: 1200px;
}

.grid-wrapper-comment {
  display: grid;
  grid-template-areas: 
  "user-comment-img txt txt ."
  ". . . submit";
  width: 100%;
  height: 200px;
  grid-template-columns: 0.75fr 1.25fr 5fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 12px;
  max-width: 1200px;
}

.grid-comments {
  display: grid;
  grid-template-areas:
  "name . . ." 
  "usr-img comment comment .";
  width: 100%;
  height: 200px;
  grid-template-columns: 0.75fr 3.25fr 5fr;
  grid-template-rows: 1.55fr 4fr;
  padding: 12px;
  max-width: 1200px;
  word-wrap: break-word;
  
}


.current-thread-title {
  grid-area: title;
  margin-left: 15px;
  background-color: #24252a;
  padding: 5px;
  border-radius: 5px;
  font-size: 25px;
  color: #ecf0f1;
}

.user-thread-icon {
  grid-area: user-img;
  text-align: center;
  background-color: #24252a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  max-height: 5rem;
  max-width: 100px;
  min-width: 100px;
}

.thread-description {
  grid-area: desc;
  font-size: 18px;
  background-color: #24252a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  color: #ecf0f1;
}

.thread-edit-button {
  grid-area: edit;
  text-align: center;
  color: #ecf0f1;
  padding: 10px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 15px;
}

.thread-edit-button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.user-comment-icon {
  grid-area: usr-img;
  text-align: center;
  background-color: #24252a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  max-height: 5rem;
  max-width: 100px;
  min-width: 100px;
}

.user-comment-text {
  grid-area: comment;
  min-width: 0;
  max-width: 1200px;
  font-size: 18px;
  background-color: #24252a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  color: #ecf0f1;
}

.user-comment-name {
  grid-area: name;
	border-radius: 5px;
	color: #ecf0f1;
	font-size: 16px;
  margin-top: 30px;
}

.user-comments-area {
  grid-area: txt;
  resize: none;
  border: none;
  width: 1060px;
  font-size: 18px;
  background-color: #24252a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  color: #ecf0f1;
}

.user-comments-img {
  grid-area: user-comment-img;
  text-align: center;
  background-color: #24252a;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  max-height: 5rem;
  max-width: 100px;
  min-width: 100px;
}

.user-comments-area:focus {
  border: 1px solid rgba(0, 136, 169, 1);
  box-shadow: 0 0 10px rgba(0, 136, 169, 1);
}

.comment-button {
  grid-area: submit;
  max-width: 100px;
  color: #ecf0f1;
  padding: 10px;
  max-height: 5rem;
  margin-top: 15px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  margin-left: 572px;
}

.comment-button:hover {

  background-color: rgba(0, 136, 169, 0.8);
}

.comment-button:active {
  scale: 0.9;
}
