.account-wrapper {
  display: grid;
  margin: 10px auto 0 auto;
  max-width: 70%;
  padding-bottom: 150px;
}

.account-info-wrapper {
  display: grid;
  grid-template-areas:
    "avatar . "
    "browse . "
    "a a "
    "b b "
    "c c  "
    "d d "
    "e e ";
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1.25fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
  margin: 10px auto 0 auto;
  max-width: 90%;
  padding-bottom: 150px;
}

.account-image {
  grid-area: avatar;
  margin-left: 12px;
}

.upload-img {
  grid-area: avatar;
  position: relative;
  left: 42px;
  top: 18px;
}

.submit-img {
  grid-area: browse;
  position: relative;
  padding: 14px 0px;
  bottom: 10px;
}
