.account-wrapper {
  display: grid;
  margin: 10px auto 0 auto;
  max-width: 70%;
  padding-bottom: 150px;
}

.account-info-wrapper {
  display: grid;
  grid-template-areas:
    "avatar username "
    "browse info "
    "email e-address "
    "user names "
    "c c  ";
  grid-template-columns: 0.5fr 5fr;
  grid-auto-rows: 1.25fr 0.75fr 0.75fr 0.75fr 0.75fr;
  margin: 10px auto 0 auto;
  width: 800px;
  border: 1px solid #737373;
  border-radius: 4px;
}

.account-image {
  grid-area: avatar;
  margin: 15px;
}

.user-avatar {
  margin-left: 7px;
}

.upload-img {
  grid-area: avatar;
  position: relative;
  left: 47px;
  top: 23px;
}

.submit-img {
  grid-area: browse;
  position: relative;
  padding: 14px 0px;
  bottom: 12px;
  width: 100px;
}

.remove-img {
  grid-area: browse;
  padding-bottom: 35px;
  width: 125px;
  position: relative;
  left: 5px;
}

.currentuser-username {
  grid-area: username;
  margin-bottom: 80px;
  color: #ecf0f1;
  font-size: 25px;
}

.account-threads {
  grid-area: c;
  padding: 8px;
  color: #ecf0f1;
  font-size: 15px;
}

.email-icon {
  grid-area: email;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  margin-left: 65px;
  margin-top: 25px;
  font-weight: bold;
}

.account-email {
  grid-area: e-address;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  color: #ecf0f1;

}

.account-email-edit {
  grid-area: e-address;
  position: relative;
  left: 638px;
  top: 20px;
}

.account-username-edit {
  grid-area: username;
  position: relative;
  left: 638px;
}

.account-user-icon {
  grid-area: user;
  position: relative;
  top: 25.5px;
  left: 65px;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  font-weight: bold;
}

.account-email-input {
  background-color: #333333;
  border: none;
  color: #ecf0f1;
}

.account-names {
  grid-area: names;
  color: #ecf0f1;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
}

.user-info {
  grid-area: info;
  color: #ecf0f1;
  margin-right: 15px;
  margin-top: 45px;
  border-bottom: 1px solid #ecf0f1;
}

.account-names-edit {
  grid-area: names;
  position: relative;
  left: 638px;
  top: 20px;
}
