.account-wrapper {
  display: grid;
  margin: 10px auto 0 auto;
  max-width: 70%;
  padding-bottom: 150px;
}

.account-info-wrapper {
  display: grid;
  grid-template-areas:
    "avatar . "
    "browse . "
    "a a "
    "b b "
    "c c  "
    "d d "
    "e e ";
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1.25fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
  margin: 10px auto 0 auto;
  max-width: 90%;
  padding-bottom: 150px;
}

.account-image {
  grid-area: avatar;
  margin-left: 3px;
}

.upload-img {
  grid-area: avatar;
  position: relative;
  top: 25px;
  left: 47px;
}

.submit-img {
  grid-area: browse;
  position: relative;
  max-width: 100px;
  margin-left: 25px;
  margin-bottom: 35px;
  right: 13px;
}
