@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&display=swap");


.update-post-body {
  background-image: url("../../contents/cain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.update-post-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 300px;
  padding: 4;
}

.update-post { 
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.update-post-title,
.update-post-comment {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  font-size: 17px;
}

.update-post-title-label,
.update-post-comment-label {
  color: #ffffff;
  font-style: italic;
  font-weight: medium;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.update-post-title-input,
.update-post-comment-input {
  background-color: #dddddd;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.update-btn-submit-post {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 136, 169, 1);
  color: #ecf0f1;
  width: 100%;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 10px;
}

.update-btn-submit-post:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 136, 169, 0.8);
}

.update-btn-delete-post {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 136, 169, 1);
  color: #ecf0f1;
  width: 100%;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 10px;
}

.update-btn-delete-post:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 136, 169, 0.8);
}

.update-post-comment-input {
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  min-width: 300px;
  max-width: 300px;
}

.update-post-comment-input:hover,
.update-post-title-input:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.update-post-comment-input:focus,
.update-post-title-input:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}
