.forum-wrapper-title {
  display: grid;
  min-width: 50%;
  max-width: 50%;
  margin: 10px auto 0 auto;
  color: #ecf0f1;
  font-size: 30px;
  padding-bottom: 150px;
}

.forum-wrapper-header {
  display: grid;
  grid-template-areas:
    "topic-col topic-col topic-col topic-col author-col posted-col"
    ". . . . . . ";
  grid-template-rows: 1fr repeat(0, 1fr);
  grid-template-columns: 1fr repeat(5, 4fr);
  align-items: center;
  row-gap: 25px;
  column-gap: 8px;
}

.forum-wrapper {
  display: grid;
  grid-template-areas:
    "thread-title thread-title thread-title thread-title author-name posted-on"
    ". . . . . .";
  column-gap: 8px;
  row-gap: 8px;
  grid-template-rows: 1fr repeat(0, 1fr);
  grid-template-columns: 1fr repeat(5, 4fr);
  align-items: center;
}

.forum-thread-header {
  grid-area: topic-title;
  min-height: 100%;
  width: auto;
  border-radius: 5px;
  font-size: 25px;
}

.forum-topic-col {
  grid-area: topic-col;
  font-size: 25px;
  height: 100%;
  min-height: 100%;
  width: auto;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #525252;
}

.forum-thread-title {
  grid-area: thread-title;
  font-size: 20px;
  height: 40px;
  min-height: 100%;
  width: auto;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #525252;
  word-wrap: break-word;
}

.forum-thread-link {
  color: #ecf0f1;
  text-decoration: none;
}

.forum-thread-link:hover {
  transition: 0.3s ease 0s;
  color: red;
}

.forum-author-col {
  grid-area: author-col;
  font-size: 25px;
  height: 100%;
  min-height: 100%;
  width: auto;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #525252;
}

.forum-author-name {
  grid-area: author-name;
  font-size: 15px;
  height: 100%;
  min-height: 100%;
  width: auto;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #525252;
  word-wrap: break-word;
}

.forum-posted-col {
  grid-area: posted-col;
  font-size: 25px;
  height: 100%;
  min-height: 100%;
  width: auto;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #525252;
}

.forum-post-date {
  grid-area: posted-on;
  font-size: 15px;
  height: 100%;
  min-height: 100%;
  width: auto;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #525252;
  word-wrap: break-word;
}
