@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&display=swap");

.edit-account-background {
  background-image: url("../../contents/gate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.edit-account-wrapper {
  display: grid;
  margin: 10px auto 0 auto;
  max-width: 70%;
  padding-bottom: 150px;
}

.edit-account-info-wrapper {
  display: grid;
  grid-template-areas:
    "edit-avatar username "
    "edit-browse edit-info "
    "edit-email edit-e-address "
    "edit-user edit-names "
    "edit-username edit-username-input"
    "c submit-edit-button ";
  grid-template-columns: 0.5fr 5fr;
  grid-auto-rows: 1.25fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
  margin: 10px auto 0 auto;
  width: 800px;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #24252a;
}

.edit-account-image {
  grid-area: edit-avatar;
  margin: 15px;
}

.edit-user-avatar {
  margin-left: 4px;
}

.edit-upload-img {
  grid-area: edit-avatar;
  position: relative;
  left: 47px;
  top: 23px;
}

.edit-submit-img {
  grid-area: edit-browse;
  position: relative;
  padding: 15px 0px;
  bottom: 12px;
  left: 7px;
  width: 120px;
  height: 40px;
}

.edit-remove-img {
  grid-area: edit-browse;
  position: relative;
  padding: 15px 0px;
  bottom: 12px;
  left: 7px;
  width: 120px;
  height: 40px;
}

.edit-account-threads {
  grid-area: edit-username;
  color: #ecf0f1;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 35px;
}

.edit-email-icon {
  grid-area: edit-email;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  margin-left: 65px;
  margin-top: 25px;
  font-weight: bold;
}

.edit-account-email {
  grid-area: edit-e-address;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  color: #ecf0f1;
  margin-left: 5px;
  /* background-color: #333333; */
  border: none;
}

.edit-account-user-icon {
  grid-area: edit-user;
  position: relative;
  top: 25.5px;
  left: 65px;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  font-weight: bold;
}

.edit-account-name {
  grid-area: edit-names;
  color: #ecf0f1;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  margin-left: 5px;
  /* background-color: #333333; */
  border: none;
}

.edit-username-icon {
  grid-area: edit-username;
  position: relative;
  top: 5px;
  left: 550px;
  width: 130px;
  height: 40px;
}

.edit-currentuser-username {
  grid-area: edit-username-input;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  color: #ecf0f1;
  margin-left: 5px;
  /* background-color: #333333; */
  border: none;
}

.edit-user-info {
  grid-area: edit-info;
  color: #ecf0f1;
  margin-right: 15px;
  margin-top: 45px;
  border-bottom: 1px solid #ecf0f1;
}

.edit-submit-account-profile {
  grid-area: submit-edit-button;
  position: relative;
  padding: 15px 0px;
  top: 0px;
  left: 210px;
  width: 120px;
  height: 40px;
}

.edit-account-username {
  grid-area: edit-username;
  position: relative;
  top: 25.5px;
  left: 28px;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  font-weight: bold;
}

.edit-account-cancel {
  grid-area: submit-edit-button;
  position: relative;
  padding: 15px 0px;
  top: 0px;
  left: 320px;

}

.account-cancel-button {
  height: 40px;

}