/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&display=swap");

.account-wrapper {
  display: grid;
  margin: 10px auto 0 auto;
  max-width: 70%;
  padding-bottom: 150px;
}

.account-info-wrapper {
  display: grid;
  grid-template-areas:
    "avatar username "
    "browse info "
    "email e-address "
    "user names "
    "editUsername usernameInput  "
    ". submitUpdate";
  grid-template-columns: 0.5fr 5fr;
  grid-auto-rows: 1.25fr 0.75fr 0.75fr 0.75fr 0.75fr;
  margin: 10px auto 0 auto;
  width: 800px;
  border: 1px solid #737373;
  border-radius: 4px;
}

.account-image {
  grid-area: avatar;
  margin: 15px;
}

.user-avatar {
  margin-left: 4px;
}

.upload-img {
  grid-area: avatar;
  position: relative;
  left: 47px;
  top: 23px;
}

.submit-img {
  grid-area: browse;
  position: relative;
  padding: 15px 0px;
  bottom: 12px;
  left: 7px;
  width: 120px;
  height: 40px;
}

.remove-img {
  grid-area: browse;
  padding-bottom: 35px;
  width: 125px;
  position: relative;
  left: 5px;
}

.edit-currentuser-username {
  grid-area: usernameInput;
  color: #ecf0f1;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  margin-left: 5px;
}

.edit-email-icon {
  grid-area: email;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  margin-left: 65px;
  margin-top: 25px;
  font-weight: bold;
}

.edit-account-email {
  grid-area: e-address;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  color: #ecf0f1;
  margin-left: 5px;
}

.update-email {
  background-color: #333333;
  border: 1px solid #ecf0f1;
  color: #ecf0f1;
}

.update-name {
  background-color: #333333;
  border: 1px solid #ecf0f1;
  color: #ecf0f1;
}

.update-username {
  background-color: #333333;
  border: 1px solid #ecf0f1;
  color: #ecf0f1;
}

.update-email:focus {
  border: 1px solid rgba(0, 136, 169, 1);
  box-shadow: 0 0 10px rgba(0, 136, 169, 1);
}

.update-username:focus {
  border: 1px solid rgba(0, 136, 169, 1);
  box-shadow: 0 0 10px rgba(0, 136, 169, 1);
}

.update-name:focus {
  border: 1px solid rgba(0, 136, 169, 1);
  box-shadow: 0 0 10px rgba(0, 136, 169, 1);
}

.edit-account-user-icon {
  grid-area: user;
  position: relative;
  top: 25.5px;
  left: 65px;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  font-weight: bold;
}

.account-email-input {
  background-color: #333333;
  border: none;
  color: #ecf0f1;
}

.edit-account-name {
  grid-area: names;
  color: #ecf0f1;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 22px;
  margin-left: 5px;
}

.edit-user-info {
  grid-area: info;
  color: #ecf0f1;
  margin-right: 15px;
  margin-top: 45px;
  border-bottom: 1px solid #ecf0f1;
}

.submit-account-profile {
  grid-area: submitUpdate;
  position: relative;
  top: 5px;
  left: 280px;
  width: 130px;
  height: 40px;
}

.edit-account-username {
  grid-area: editUsername;
  position: relative;
  top: 25.5px;
  left: 30px;
  color: #ecf0f1;
  max-width: 87px;
  max-height: 48px;
  font-weight: bold;
} */